@import "./reset.css";

html,
body {
	height: 100%;
}

:root {
	--background-color: #fff;
	--main-theme-color: #2f84ed;

	--main-button-color: #4f8afd;
	--button-hover-color: #4d84e2;

	--main-icon-color: #202020;
	--icon-border-color: #333;
	--icon-hover-color: #4481eb;

	--common-font-color: black;

	--title-color: #444;
	--input-color: rgb(59, 59, 59);
	--input-placehoder-color: #aaa;
	--input-background-color: #efefef;
}

#app {
	border: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
